.bg-color{
    background-color: #8195CB;
}

.bck{
    background: rgba(229, 97, 20, 0.671);
    background: linear-gradient(180deg, rgba(229, 97, 20, 0.527) 0%, rgba(129,149,203,1) 63%, rgba(110, 191, 30, 0.521) 100%);
}
body{
    background: rgba(229, 97, 20, 0.377);
background: linear-gradient(90deg, rgba(229, 97, 20, 0.425) 0%, rgba(129, 149, 203, 0.425) 63%, rgba(110, 191, 30, 0.425) 100%);
}
aside{
    height: 100vh;
    background: rgb(229,97,20);
background: linear-gradient(180deg, rgba(229,97,20,1) 0%, rgba(129,149,203,1) 63%, rgba(110,191,30,1) 100%);
}
aside ul{
    list-style-type: none;
}
aside ul li a {
    color: white;
    font-size: 2.5rem;
    text-decoration: none;
}
#area{
    width: 645px;
    
}
.btn{
    color: white;
}
.add-btn{
    background-color: #e56114;
}
.add-btn:hover{
    background-color: #e56114;
}

.check-btn{
    background-color: #6ebf1e;
}
.check-btn:hover{
    background-color: #6ebf1e;
}
form label{
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
}